## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Rikitea,PF,75.34,light rain,-23.12,-134.97,Pension Maro'i
1,5,Kavaratti,IN,82.42,broken clouds,10.57,72.64,Hotels in Lakshadweep Islands
2,6,Miandrivazo,MG,78.82,clear sky,-19.52,45.47,Hôtel Arc En Ciel Miandrivazo
3,13,Hirara,JP,76.62,overcast clouds,24.80,125.28,Hotel Atoll Emerald Miyakojima
4,15,Castro,BR,72.09,overcast clouds,-24.79,-50.01,CHACARA BAILLY
5,18,Guadalajara,MX,88.00,scattered clouds,20.67,-103.33,Hotel Aranzazú
6,22,Souillac,MU,73.40,scattered clouds,-20.52,57.52,Bils' Villa
7,23,Rawson,AR,71.13,overcast clouds,-43.30,-65.10,Hotel Punta León
8,26,Mangrol,IN,82.18,clear sky,21.12,70.12,Hotel The Royal Honours
9,27,Hithadhoo,MV,83.16,few clouds,-0.60,73.08,Scoop Guest House

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# test
vacation_start = vacation_df.loc[3]
vacation_start

City_ID                                            13
City                                           Hirara
Country                                            JP
Max Temp                                        76.62
Current Description                   overcast clouds
Lat                                              24.8
Lng                                            125.28
Hotel Name             Hotel Atoll Emerald Miyakojima
Name: 3, dtype: object

In [6]:
# test
filter_US = vacation_df["Country"] == "US"
vacation_df.loc[filter_US]
#filter_US.sum()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
14,47,Kapaa,US,84.20,scattered clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
18,64,Kahului,US,87.80,few clouds,20.89,-156.47,Maui Seaside Hotel
21,68,Hilo,US,78.01,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
51,135,Marshall,US,75.00,broken clouds,34.38,-86.33,Lake Guntersville Bed and Breakfast
75,227,Fortuna,US,72.00,clear sky,40.60,-124.16,Super 8 by Wyndham Fortuna
99,287,Eureka,US,73.00,clear sky,40.80,-124.16,Eureka Inn Trademark By Wyndham
108,303,Laguna,US,72.00,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
134,368,Half Moon Bay,US,71.60,clear sky,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
136,371,Ensley,US,86.00,clear sky,30.52,-87.27,Holiday Inn Express & Suites Pensacola W I-10
139,381,Pacifica,US,70.00,clear sky,37.61,-122.49,"Pacifica Lighthouse, Trademark Collection by W..."
150,410,Russell,US,82.40,broken clouds,32.35,-85.20,Macs
157,424,Labelle,US,87.01,overcast clouds,26.76,-81.44,La Belle Motel
193,520,Wilmington,US,73.99,clear sky,34.23,-77.94,"Hotel Ballast Wilmington, Tapestry Collection ..."
204,547,San Ramon,US,71.01,clear sky,37.78,-121.98,San Ramon Marriott
209,558,Makakilo City,US,82.40,few clouds,21.35,-158.09,Marriott's Ko Olina Beach Club
221,581,Pacific Grove,US,71.60,clear sky,36.62,-121.92,Lovers Point Inn
222,582,Fayetteville,US,73.99,clear sky,35.05,-78.88,American Eagle Inn
226,588,Huntsville,US,73.40,overcast clouds,34.73,-86.59,Embassy Suites by Hilton Huntsville Hotel & Spa
238,628,Houma,US,81.00,scattered clouds,29.60,-90.72,Courtyard by Marriott Houma

In [7]:
# test
vacation_df.head().to_numpy()[0][:]

array([4, 'Rikitea', 'PF', 75.34, 'light rain', -23.12, -134.97,
       "Pension Maro'i"], dtype=object)

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[134].to_frame().T
vacation_end = vacation_df.loc[134].to_frame().T
vacation_stop1 = vacation_df.loc[139].to_frame().T
vacation_stop2 = vacation_df.loc[221].to_frame().T
vacation_stop3 = vacation_df.loc[204].to_frame().T

In [9]:
# test
columns = ['City', 'Country', 'Lat']
start = vacation_df[['Lat', 'Lng']].to_numpy()[134]
vacation_df[columns].loc[134]
start
# vacation_df

array([  37.46, -122.43])

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_df[['Lat', 'Lng']].to_numpy()[134]
end = vacation_df[['Lat', 'Lng']].to_numpy()[134]
stop1 = vacation_df[['Lat', 'Lng']].to_numpy()[139]
stop2 = vacation_df[['Lat', 'Lng']].to_numpy()[221]
stop3 = vacation_df[['Lat', 'Lng']].to_numpy()[204]

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itenerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation_itenerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1,
                          vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,368,Half Moon Bay,US,71.6,clear sky,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
1,368,Half Moon Bay,US,71.6,clear sky,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
2,381,Pacifica,US,70,clear sky,37.61,-122.49,"Pacifica Lighthouse, Trademark Collection by W..."
3,581,Pacific Grove,US,71.6,clear sky,36.62,-121.92,Lovers Point Inn
4,547,San Ramon,US,71.01,clear sky,37.78,-121.98,San Ramon Marriott

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))